/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease; /* Adiciona uma transição padrão para todos os elementos */
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    opacity: 0; /* Inicia com a página invisível */
    animation: fadeIn 1s forwards; /* Animação de fade-in */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo-container a{
    text-decoration: none;
    color: white;
}

.logo-container span{
    color: #007BFF;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    width: 100%;
    z-index: 10;
    animation: slideDown 0.5s ease-in-out; /* Animação de deslizamento */
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* Animação de fade-in para o menu */
}

.menu-active {
    transform: translateX(0);
    opacity: 1;
}

.menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu ul li a:hover {
    color: #007BFF;
    transform: scale(1.1);
}

/* Projects Section */
.projects-section {
    padding: 80px 20px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards 0.5s; /* Animação de fade-in com atraso */
}

.projects-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards 1s; /* Animação de fade-in com atraso */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.project-card {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px; /* Ajuste a largura do card conforme necessário */
    height: 450px; /* Ajuste a altura do card conforme necessário */
    opacity: 0;
    animation: fadeInUp 0.5s forwards; /* Animação de fade-in para cima */
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.project-card img {
    width: 100%;
    height: 150px; /* Ajuste a altura da imagem conforme necessário */
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-card:hover img {
    transform: scale(1.05); /* Leve zoom na imagem ao passar o mouse */
}

.project-info {
    padding: 20px;
    text-align: left;
    flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
    text-align: justify;
}

.project-info h3 {
    margin-bottom: 10px;
}

.project-info p {
    margin-bottom: 20px;
}

.tools-icons {
    margin-bottom: 20px;
}

.tools-icons i {
    font-size: 1.5rem;
    margin-right: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.tools-icons i:hover {
    color: #007BFF;
    transform: scale(1.2);
}

.view-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-more:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}
